WP_ENVIRONMENT_TYPE=local
WP_THEME=yield
WP_ALLOW_MULTISITE=true
WP_DIR=wp
WP_HOME=http://site.internal
WP_SITEURL=http://site.internal/wp
WP_DEBUG=true
WP_DEBUG_LOG=true
WP_DEBUG_DISPLAY=false

DB_HOST=127.0.0.1
DB_NAME=site
DB_USER=root
DB_PASSWORD=
# DB_SOCKET=
# DB_HOSTNAME=
# USE_MYSQL_SSL=

# https://vinkla.github.io/salts
AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=

SERVER_PORT=80
MULTISITE=false
SUBDOMAIN_INSTALL=false
DOMAIN_CURRENT_SITE=site.internal

LAADA_BACKEND_REQUEST_TIMEOUT=60
LAADA_BACKEND_BASIC_AUTH_USER=
LAADA_BACKEND_BASIC_AUTH_PASSWORD=

LAADA_API_BASIC_AUTH_USER=
LAADA_API_BASIC_AUTH_PASSWORD=

LAADA_FRONTEND_URL=
LAADA_FRONTEND_API_PATH=/api
LAADA_FRONTEND_PREVIEW_SECRET=
LAADA_FRONTEND_BASIC_AUTH_USER=
LAADA_FRONTEND_BASIC_AUTH_PASSWORD=

LAADA_DEV=
LAADA_DEV_WEBSOCKETS_PORT=8080
LAADA_DEV_LINKED_MU_PATH=

LAADA_DOD_IST_USER=
LAADA_BUCKET_URL=
LAADA_REQUEST_TIMEOUT=1800

LAADA_SETUP_SOURCE_DIR=src/setup
LAADA_SETUP_PUBLIC_DIR=app/public
LAADA_SETUP_SVG=logo.svg
LAADA_SETUP_DARK_COLOR="#222222"
LAADA_SETUP_LIGHT_COLOR="#FCFCFC"

ACF_PRO_LICENSE=
META_BOX_KEY=

WP_STATELESS_MEDIA_JSON_KEY=
WP_STATELESS_MEDIA_BUCKET=
WP_STATELESS_MEDIA_ROOT_DIR=
WP_STATELESS_MEDIA_MODE=cdn
WP_STATELESS_SKIP_ACL_SET=true
WP_STATELESS_MEDIA_CACHE_BUSTING=false
WP_STATELESS_MEDIA_HIDE_SETTINGS_PANEL=false
WP_STATELESS_MEDIA_HIDE_SETUP_ASSISTANT=true
WP_STATELESS_MEDIA_BODY_REWRITE=false